/* Общие стили для страницы */
body {
  margin: 20px;
  background-color: #e0d6d6;
  font-family: "Oswald", sans-serif;
}

/* Список задач */
#list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

/* Элементы списка */
#list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



/* Кнопка добавления задачи */
#new-task-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}

#new-task-button:hover {
  background-color: #218838;
}

/* Поле ввода */
#new-task-title {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  width: 50%;
}

#new-task-title:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
